body{
    background-size: cover;
    background: url('../../../img/gradient.jpg') fixed;
}

.div_box_container{
    float: left;
    width: 350px;
    height:300px;
    margin-left:35px;
    margin-top: 30px;
    border:#fb8815 2px solid;
    border-radius: 10px;
    background-image: url('../../../img/fundo_box_container.png');
}
.div_titulo_container{
    margin-top: 20px;
    margin-left: -20px;
    padding: 10px;
    max-width: 330px;
    font-size: 20px;
    color: #ffffff;
    background-color:#fb8815;
    border-radius: 5px;
    box-shadow: -5px 9px 3px #c3c3c3;
}
.div_img_box{
    height:220px;
    width: 330px;
    margin:5px;
}
.div_titulo_principal_banner{
    margin-left: 30px;
    padding: 15px;
    height: auto;
    border: #797c86 1px solid;
    border-radius: 5px;
    box-shadow: -5px 9px 3px #c3c3c3;
    background-color:#3f4043;
    color: #fff;
}

.tab_vinte{
    margin-left: 25px;
    font-size: 20px;
}

.box1{
    margin: 15px;
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color: #ecb613;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.div_img{
    height: 300px;
    width: 300px;
    clear: both;
}

.pro_img{
    max-width:298px;
    max-height:298px;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.div_cem_topo{
    border-top: #000000 3px solid;
    width: 100%;
    padding: 10px;
    font-size: 30px;
}
.div_cem{
    clear: both;
    width: 100%;
    padding: 10px;
}.div_row_container{
     width: 95%;
     margin: auto;
 }
.img_box{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#div_rodape{
    position: fixed;
    bottom: 0px;

}
.div_logo_rodape{
    float: right;
    margin-right:5px;
    width: 170px;
    height: 60px;
    padding: 5px;
}
.div_cinquenta{
    width: 50%;
    float: left;
}
.div_setenta{
    width: 70%;
    float: left;
}
.div_trinta{
    width: 30%;
    float: left;
}
.fixed_div{
    position: fixed;
}
.drop_down{

    margin-right: 10PX;
    font-size: 20px;
    width: 300px;
}
.div_box_banner{
    float: left;
    width: 650px;
    height:400px;
    margin-left:35px;
    margin-top: 30px;
    border:#fb8815 2px solid;
    border-radius: 10px;
    background-image: url('../../../img/fundo_box_container.png');
}
.div_titulo_banner{
    margin-top: 20px;
    margin-left: -20px;
    padding: 5px;
    max-width: 600px;
    font-size: 30px;
    color: #ffffff;
    background-color:#fb8815;
    border-radius: 5px;
    box-shadow: -5px 9px 3px #c3c3c3;
}
.div_texto_banner{
    width: 640px;
    height:300px;
    margin-top: 25px;
    padding: 10px;
    font-size: 18px;

}
.div_img_banner{
    height:220px;
    width: 330px;
    margin:5px;
}
.img_banner{

    width: 100%;
    height: 100%;
    border-radius: 10px;

}